import Lg{{properCase name}} from '../'

export default {
  title: 'Lg{{properCase name}}',
  component: Lg{{properCase name}}
}

export const Lg{{properCase name}} = () => ({
  components: { Lg{{properCase name}} },
  template: `
    <div>
      <lg-{{name}}></lg-{{name}}>
    </div>
    `,
})